/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

/* Variables */
:root {
  --bg-color: #f0eeeb;
  --text-color: #fff;
}

/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', cursive;
}

a {
  color: #fff;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 8px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 16px;
  border-radius: 4px;

  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  /* border: 1px solid #00ee00; */
}

/* HEADER */
header {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: var(--bg-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex: 1;

  padding: 16px 8px;


  /* border: 1px solid blue; */
}

nav .logo {
  font-weight: bold;

  filter: brightness(.8);
  /* border: 1px solid blue; */

}

nav .logo:hover {
  filter: brightness(1);
  cursor: pointer;
}

nav .navbar ul {
  display: flex;
  align-items: center;  
  list-style: none;
}

nav .navbar ul li {
  margin: 0 8px;

  cursor: pointer;
}

nav .navbar ul li:hover {
  font-weight: bold;
}

nav .login-area {
  display: flex;
  align-items: center;
  justify-content: center; 
}

nav .login-area p {
  margin-right: 16px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 32px;  
  padding-bottom: 128px;
  flex: 1;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  flex: 3;
  /* border: 1px solid red; */
}

.hero-left h1 {
  opacity: .9;
  font-size: 3em;
  line-height: 1.5em;

  margin: 8px 0;
}

.hero-left p {
  opacity: .8;
  margin: 8px 0;
}

.hero-left--list {
  display: flex;
  flex-direction: column;
}

.hero-left--list p {
  display: flex;
  align-items: center;
}

.hero-left--list img {
  margin-right: 8px;
}

.hero-right {
  display: flex;
  flex: 1;
}

.hero-right img {
  width: 100%;
}

.hero-left--input {
  display: flex;
  flex: 1;

  margin-top: 32px;
}

.hero-left--input input[type=email] {
  padding: 8px;
  margin-right: 16px;
}






